* {
   box-sizing: border-box;
}

html,
body {
   min-height: 100vh;
   min-width: 1440px;
   font-family: "Jost", sans-serif;
   color: #333333;
}

.header_logo {
   display: block;
   width: 130px;
   padding: 41px 0;
}

.search_bar {
   padding: 30px 0;
}

.search_bar input {
   padding-right: 0;
   width: 570px;
   height: 50px;
}

.search_bar button {
   padding-left: 0;
   width: 100px;
   height: 50px;
   font-weight: 600;
   font-size: 13px;
   line-height: 19px;
   color: #ffffff;
   background-color: #023047;
}

.profile {
   margin: 43px 0 44px;
   text-align: right;
   justify-content: space-around;
}

.menu_bar {
   padding: 13px 0;
}

.menu {
   font-weight: 500;
   font-size: 13px;
   line-height: 1.5;
   list-style-type: none;
}

.departments img {
   display: inline-block;
   margin-right: 5px;
}

.hero {
   background: url("../assets/img/bg.png");
}

.hero_subtitle {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.4;
   color: #9cdeff;
}

.hero_title {
   margin: 225px 35px 225px 135px;
   font-weight: 700;
   font-size: 48px;
   line-height: 131.5%;
   color: #ffffff;
}
